@import "variables";
@import "functions";

/*-----------------------------------------------------------------------------------

[Statistic] (Section)

# Statistic Section (wrapper)
# .site-number (class)
# Icons
# Typography (h5, p)

-----------------------------------------------------------------------------------*/

/* Statistic section wrapper */
.site-statistic {
  margin: 0;
  display: block;
  width: 100%;
  background: $color_white url("../images/statistic.png") 10px 20px;

  @include small_max {
    padding: rem(50) rem(20);
  }
}

.site-number {
  /* Number (class) */
  position: relative;
  padding-left: rem(60);
  margin: rem(50) 0;
  text-align: left;

  @include small_max {
    margin-top: rem(30);
    margin-bottom: rem(30);
  }

  i.fa {
    /* Icons */
    color: $color_orange;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    display: block;
    width: 2.125rem;
    height: 100%;
    font-size: 2.375rem;
    line-height: rem(45);
    vertical-align: middle;
  }

  h5 {
    /* Typography */
    color: $color_slider_BG;
    font-size: 1.688rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    display: block;
    clear: both;
    width: 100%;
    line-height: rem(30);
  }

  p {
    color: $paragraph_second;
    font-size: 0.813rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    display: block;
    clear: both;
    width: 100%;
  }
}