// VARIABLES

// COLORS
$color_orange: #2b8dd9;
$color_white: white;
$color_header_BG: #203e51;
$color_slider_BG: #1f3542;
$color_slider_button: #203e5b;
$slider_color: #6b7782;
$paragraph: #a5abb4;
$paragraph_second: #6c6b6b;
$color_border: #6f6f6f;
$pagination_color: #636e78;
$social_icons: #4f708f;
$copyright: #8b8e92;
$input_bg: #f8f7f7;
$section_bg: #08223b;
$twitter_color: #009cff;
$shadow: rgba(2, 3, 3, 0.84);
$plan_box: #fcfcfb;
$plan_border: #6f6f6f;
$plan_options_border: #f3f1f1;
$plan_green: #2dc100;
$plan_red: red;
$testimonial_bg: #3d668d;
$quote_bg: #203e5a;
$light_grey: lightgrey;
$accordion_collapse: #4199dd;
$accordion_heading: #297bbb;
$accordion_body: #297bbb;
$accordion_color: white;

// FONTS
$font_Poppins: Poppins, serif;