@import "variables";
@import "functions";

/*-----------------------------------------------------------------------------------

[Store Icons Section] (Section)

# Store Icons (wrapper)
# .align-center (class)
# Images
# Icons
# Typography (h5, h6)

-----------------------------------------------------------------------------------*/

/* STORE ICONS */
.site-store-icons {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  clear: both;
  text-align: center;
  position: relative;
  height: 0;
  z-index: 10;

  @include medium_max {
    height: auto;
    background: #E5E8ED;
    padding: rem(20) 0;
  }

  .align-center { /* Align center class */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0;

    @include medium_max {
      position: relative;
    }
  }

  a {
    background-color: $color_header_BG;
    position: relative;
    padding: rem(26) rem(50) rem(25) rem(60);
    @include transition('background');
    border-right: rem(4) solid $color_slider_BG;

    &:last-child {
      border-right: none;
    }

    &:hover {
      background: $color_orange;
    }

    @include medium_max {
      border: none;
      margin: rem(10);
    }

    @include small_max {
      display: block;
      max-width: rem(270);
      margin: 0 auto rem(2);
    }

  }

  figure { /* Image */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    padding-left: rem(45);
    line-height: rem(90);
  }

  i.fa, span, img { /* Icons */
    color: $color_white;
    font-family: FontAwesome, serif;
    font-size: rem(47);
    display: inline-block;
    font-weight: 400;
    line-height: rem(90);
    vertical-align: middle;
  }

  i.fa.adjust {
    font-size: rem(30);
    position: relative;
    right: rem(10);
  }

  img {
    position: relative;
    right: rem(15);

    @include small_max {
      right: rem(10);
    }
  }

  h5 { /* Typography */
    color: white;
    font-family: "Source Sans Pro", serif;
    font-weight: 400;
    line-height: rem(22);
    font-size: rem(22);
    margin: 0;
    width: 100%;
    text-align: left;
    display: block;
    padding: 0 0 0 rem(20);
  }

  h6 {
    color: white;
    font-family: "Source Sans Pro", serif;
    font-weight: 400;
    line-height: rem(14);
    font-size: rem(14);
    margin: 0;
    width: 100%;
    text-align: left;
    display: block;
    padding: 0 0 0 rem(20);
  }
}