.navbar{
    background: #f7f7f7!important;
}
a{
    color:#000!important;
}
.btn-primary{
    background: #007bff!important;
    border-color:#007bff!important;
}
.btn-primary:hover {
    background: #000 !important;
    border-color: #000 !important;
    color:#007bff!important;
}
.page-item.active .page-link {
    z-index: 1;
    color: #000!important;
    background-color:#007bff!important;
    border-color: #007bff!important;
}
